<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.Database" />
  </extensions>

  <targets>
    <!-- Ціль для бази даних -->
    <target xsi:type="Database" name="database"
            connectionString="Server=YOUR_SERVER;Database=YOUR_DATABASE;Trusted_Connection=True;">
      <commandText>
        INSERT INTO LogEntries (Logged, Level, Logger, Message, Exception)
        VALUES (@Logged, @Level, @Logger, @Message, @Exception)
      </commandText>
      <parameter name="@Logged" layout="${longdate}" />
      <parameter name="@Level" layout="${level:uppercase=true}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=ToString}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>